/* Estilos gerais */
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Permanent Marker;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 15vh;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #f00000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos específicos */
h1 {
    margin: 0;
    font-size: 50px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 80%;
    border-radius: 20px;
}

/* Adaptações para dispositivos móveis */
@media only screen and (max-width: 600px) {
    header {
        height: auto;
    }
    
    h1 {
        font-size: 30px;
    }
    
    img {
        width: 100%;
    }
}